﻿
 <!--FormValidation-->
<link href="@Url.Content("../../formvalidation-dist-v0.7.0/dist/css/formValidation.min.css")" rel="stylesheet" />

<div class="container">
<br/>
<br/>
<div class="page-header">
    <span class="fa fa-envelope"></span> contact daniel carroll</div>

<form id="contact2Form" class="form-horizontal col-lg-9" action="mailto:daniel_carroll313@daytonastate.edu?subject=COP4813%20Contact" method="POST" enctype="text/plain" style="background-color: #f9f9f9">
    <fieldset>
        <legend><span class="fa fa-envelope"></span> contact me!</legend>

        <div class="form-group">
            <label class="col-xs-2 control-label" for="fName">first name</label>
            <div class="col-xs-7">
                <input type="text" class="form-control" name="fName" id="fName" placeholder="first name"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label" for="lName">last name</label>
            <div class="col-xs-7">
                <input type="text" class="form-control" name="lName" id="lName" placeholder="last name"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label" for="addline1">address</label>
            <div class="col-xs-7">
                <input type="text" class="form-control" name="addline1" id="addline1" placeholder="address line 1"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label" for="addline2">address</label>
            <div class="col-xs-7">
                <input type="text" class="form-control" name="addline2" id="addline2" placeholder="address line 2"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label" for="city">city</label>
            <div class="col-xs-7">
                <input type="text" class="form-control" name="city" id="city" placeholder="city"/>
            </div>
        </div>


        <div class="form-group">
            <label class="col-xs-2 control-label" for="state">state</label>
            <div class="col-xs-4">
                <select class="form-control" id="state" name="state">
                    <option value="" disabled selected>choose a state</option>
                    <option value="AK">Alaska</option>
                    <option value="AL">Alabama</option>
                    <option value="AR">Arkansas</option>
                    <option value="AZ">Arizona</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DC">District of Columbia</option>
                    <option value="DE">Delaware</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="IA">Iowa</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MD">Maryland</option>
                    <option value="ME">Maine</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MO">Missouri</option>
                    <option value="MS">Mississippi</option>
                    <option value="MT">Montana</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="NE">Nebraska</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NV">Nevada</option>
                    <option value="NY">New York</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="PR">Puerto Rico</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VA">Virginia</option>
                    <option value="VT">Vermont</option>
                    <option value="WA">Washington</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WV">West Virginia</option>
                    <option value="WY">Wyoming</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label" for="zip">zip code</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" name="zip" id="zip" placeholder="5 digit"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label" for="phoneNumber">phone number</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="(123)456-7890" data-mask="(000)000-0000"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label" for="email">email</label>
            <div class="col-xs-7">
                <input type="text" class="form-control" name="email" id="email" placeholder="example@mail.com"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label" for="bday">birthdate</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" name="bday" id="bday" placeholder="mm/dd/yyyy" data-mask="00/00/0000"/>
            </div>
        </div>


        <div class="form-group">
            <label class="col-xs-2 control-label" for="message">message</label>
            <div class="col-xs-7">
                <textarea class="form-control" name="message" id="message" rows="5" placeholder="short message here"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label" id="captchaOperation" for="captcha">captcha</label>
            <div class="col-xs-3">
                <input type="text" class="form-control" name="captcha" id="captcha"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-7 col-xs-offset-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>


    </fieldset>
</form>



    <div class="col-lg-3 pull-right">
        <div class="well well-sm">
            <fieldset>
                <legend class="text-left"><span class="fa fa-comments"></span>social</legend>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="https://www.linkedin.com/in/danielccarroll" target="_blank"><span class="fa fa-linkedin fa-fw"></span> LinkedIn</a></li>
                    <li><a href="https://www.google.com/+DanielCarroll" target="_blank"><span class="fa fa-google-plus fa-fw"></span> Google+</a></li>
                    <li><a href="https://github.com/danielc103" target="_blank"><span class="fa fa-github fa-fw"></span> GitHub</a></li>
                    <li><a href="https://bitbucket.org/danc103" target="_blank"><span class="fa fa-bitbucket fa-fw"></span> BitBucket</a></li>

                </ul>
            </fieldset>
        </div>

    </div>



<div class="modal fade" id="messageModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">this is what is being sent!</h5>
            </div>

            <div class="modal-body">
                <table class="table">
                    <tr>
                        <th>first name</th>
                        <td id="formNamef"></td>
                    </tr>
                    <tr>
                        <th>last name</th>
                        <td id="formNamel"></td>
                    </tr>
                    <tr>
                        <th>address</th>
                        <td id="formAddline1"></td>
                    </tr>
                    <tr>
                        <th>address</th>
                        <td id="formAddline2"></td>
                    </tr>
                    <tr>
                        <th>city</th>
                        <td id="formCity"></td>
                    </tr>
                    <tr>
                        <th>state</th>
                        <td id="formState"></td>
                    </tr>
                    <tr>
                        <th>zipcode</th>
                        <td id="formZip"></td>
                    </tr>
                    <tr>
                        <th>phone number</th>
                        <td id="formPhone"></td>
                    </tr>
                    <tr>
                        <th>email</th>
                        <td id="formEmail"></td>
                    </tr>
                    <tr>
                        <th>birthdate</th>
                        <td id="formBday"></td>
                    </tr>
                    <tr>
                        <th>message</th>
                        <td id="formMessage"></td>
                    </tr>

                </table>
            </div>

            <div class="modal-footer">
                <button type="button" onclick="clearModal()" id="dontDoit" class="btn btn-danger" data-dismiss="modal">no, lemme change stuff</button>
                <button type="button" id="doit" class="btn btn-primary" data-dismiss="modal">ok, let's send the email</button>
            </div>
        </div>
    </div>
</div>




<script>
    function clearModal() {
        $('#messageModal td').each(function () { $(this).html(''); });
    }


    $(document).ready(function () {

        dtTomorrow = new Date();
        dtTomorrow.setDate(dtTomorrow.getDate());

        // Generate a simple captcha
        function randomNumber(min, max) {
            return Math.floor(Math.random() * (max - min + 1) + min);
        }

        function generateCaptcha() {
            $('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 200), '='].join(' '));
        }

        generateCaptcha();


        $('#contact2Form')
          .formValidation({
              framework: 'bootstrap',
              icon: {
                  valid: 'glyphicon glyphicon-ok',
                  invalid: 'glyphicon glyphicon-remove',
                  validating: 'glyphicon glyphicon-refresh'
              },
              fields: {
                  fName: {
                      validators: {
                          notEmpty: {
                              message: 'first name is required'
                          },
                          regexp: {
                              regexp: /^([^0-9]*)$/,
                              message: 'no numbers in your name'
                          }
                      }
                  },
                  lName: {
                      validators: {
                          notEmpty: {
                              message: 'last name is required'
                          },
                          regexp: {
                              regexp: /^([^0-9]*)$/,
                              message: 'no numbers in your name'
                          }
                      }
                  },
                  addline1: {
                      validators: {
                          notEmpty: {
                              message: 'address is required'
                          }
                      }
                  },
                  addline2: {
                      validators: {

                      }
                  },
                  city: {
                      validators: {
                          notEmpty: {
                              message: 'city is required'
                          }
                      }
                  },
                  state: {
                      validators: {
                          notEmpty: {
                              message: 'state is required'
                          }
                      }
                  },
                  zip: {
                      validators: {
                          notEmpty: {
                              message: 'zip code is requried'
                          },
                          regexp: {
                              regexp: /^\d{5}$/,
                              message: 'must be 5 numbers'
                          }
                      }
                  },
                  phoneNumber: {
                      validators: {
                          notEmpty: {
                              message: 'phone number is required'
                          },
                          regexp: {
                              message: 'The phone number can only contain the digits, spaces, -, (, ), + and .',
                              regexp: /^[0-9\s\-()+\.]+$/
                          }
                      }
                  },
                  email: {
                      validators: {
                          notEmpty: {
                              message: 'email address is required'
                          },
                          emailAddress: {
                              message: 'input is not a valid email address'
                          }
                      }
                  },
                  bday: {
                      validators: {
                          notEmpty: {
                              message: 'date of birth required'
                          },
                          date: {
                              max: dtTomorrow,
                              format: 'MM/DD/YYYY',
                              message: 'date of birth is not valid'
                          }
                      }
                  },
                  message: {
                      validators: {
                          notEmpty: {
                              message: 'message is required'
                          },
                          stringLength: {
                              max: 500,
                              message: 'message must be less than 700 characters long'
                          }
                      }
                  },
                  captcha: {
                      validators: {
                          callback: {
                              message: 'try again',
                              callback: function (value, validator, $field) {
                                  var items = $('#captchaOperation').html().split(' '),
                                      sum = parseInt(items[0]) + parseInt(items[2]);
                                  return value == sum;
                              }
                          }
                      }
                  }

              }
          })
          .on('success.form.fv', function (e) {
              e.preventDefault();

              var $form = $(e.target);

              var fv = $form.data('formValidation');

              $('#formNamef').append($('#fName').val());
              $('#formNamel').append($('#lName').val());
              $('#formAddline1').append($('#addline1').val());
              $('#formAddline2').append($('#addline2').val());
              $('#formCity').append($('#city').val());
              $('#formState').append($('#state').val());
              $('#formZip').append($('#zip').val());
              $('#formPhone').append($('#phoneNumber').val());
              $('#formEmail').append($('#email').val());
              $('#formBday').append($('#bday').val());
              $('#formMessage').append($('#message').val());



              $('#messageModal').modal('toggle');

              $('#doit').click(function () {
                  fv.defaultSubmit();
                  /*$('#contact2Form')[0].reset();
                  $('#contact2Form').data('formValidation').resetForm();*/
              });


          })
          .on('err.form.fv', function (e) {
              // Regenerate the captcha
              generateCaptcha();
          });
        
      
    });

</script>




</div>


<script type="text/javascript" src="@Url.Content("../../js/jquery.mask.min.js")"></script>>

<script type="text/javascript" src="@Url.Content("../../formvalidation-dist-v0.7.0/dist/js/formValidation.min.js")"></script>

<script type="text/javascript" src="@Url.Content("../../formvalidation-dist-v0.7.0/dist/js/framework/bootstrap.min.js")"></script>