﻿

<script type="text/javascript" src="~/js/flappy/phaser.min.js"></script>
<script type="text/javascript" src="~/js/flappy/loadState.js"></script>
<script type="text/javascript" src="~/js/flappy/menuState.js"></script>
<script type="text/javascript" src="~/js/flappy/gameState.js"></script>
<script type="text/javascript" src="~/js/flappy/init.js"></script>
<div class="container">
    <div class="body">
        <div class="row text-center">
            <div class="page-header">
                <h2>flappy nole!</h2>
            </div>
            <div class="jumbotron">
                <p>
                    this is a game based off a blog tutorial for the Phaser game engine.
                </p>
                <div class="row text-center">
                    <a href="http://blog.lessmilk.com/how-to-make-flappy-bird-in-html5-1/" target="_blank">tutorial - click here</a>
                    <br/>
                    <a href="https://github.com/Hitman666/FlappyBox" target="_blank">github source code - click here</a>
                </div>


            </div>

            <div id="game_div" style="margin: 0 auto; display: table;"> </div>

        </div>

       

    </div>
</div>










