﻿

<div class="container">
<div class="body">
<div class="row text-center">
<div class="page-header">
    <h2>MathML, SVG, and KML</h2>
</div>
<div class="jumbotron">
    <p>
        Each tab represents a differnt mark up with examples. Take a look!
    </p>
</div>
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#kml" data-toggle="tab" aria-expanded="true">KML</a>
    </li>
    <li class="">
        <a href="#svg" data-toggle="tab" aria-expanded="false">SVG</a>
    </li>
    <li class="">
        <a href="#mathml" data-toggle="tab" aria-expanded="false">MathML</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
<div class="tab-pane fade active in" id="kml">
<br/>
<h3>A trip in Costa Rica my wife and I made!</h3>
<br/>
<div id="map" style="width: 500px; height: 400px; float: left">
</div>

<pre><code class="text-left">
&lt;?xml&nbsp;version=&quot;1.0&quot;&nbsp;encoding=&quot;UTF-8&quot;?&gt;
&lt;kml&nbsp;xmlns=&quot;http://www.opengis.net/kml/2.2&quot;&nbsp;xmlns:gx=&quot;http://www.google.com/kml/ext/2.2&quot;&gt;
&lt;Document&gt;
&lt;atom:link&nbsp;href=&quot;http://www.tripline.net/trip/How_to_get_to_La_Fortuna_from_San_Jos%C3%A9.-32704775762310079E819E591C1E15F9&quot;/&gt;
&lt;name&gt;How&nbsp;to&nbsp;get&nbsp;to&nbsp;La&nbsp;Fortuna&nbsp;from&nbsp;San&nbsp;Jos&eacute;.&nbsp;(created&nbsp;on&nbsp;Tripline)&lt;/name&gt;
&lt;description&gt;&lt;![CDATA[If&nbsp;you&nbsp;are&nbsp;planning&nbsp;&nbsp;to&nbsp;visit&nbsp;La&nbsp;Fortuna,&nbsp;here&nbsp;is&nbsp;the&nbsp;map.&lt;br&gt;&lt;br&gt;&lt;a&nbsp;href=&quot;http://www.tripline.net/trip/How_to_get_to_La_Fortuna_from_San_Jos%C3%A9.-32704775762310079E819E591C1E15F9&quot;&gt;view&nbsp;on&nbsp;Tripline&lt;/a&gt;&lt;br&gt;&lt;br&gt;]]&gt;&lt;/description&gt;
&lt;open&gt;1&lt;/open&gt;
&lt;gx:Tour&gt;
	&lt;name&gt;Play&lt;/name&gt;
	&lt;gx:Playlist&gt;
		&lt;gx:FlyTo&gt;
			&lt;gx:duration&gt;4.0&lt;/gx:duration&gt;
			&lt;gx:flyToMode&gt;bounce&lt;/gx:flyToMode&gt;
			&lt;Camera&gt;
				&lt;longitude&gt;-84.0907246&lt;/longitude&gt;
				&lt;latitude&gt;9.9280694&lt;/latitude&gt;
				&lt;altitude&gt;20000&lt;/altitude&gt;
				&lt;altitudeMode&gt;relativeToGround&lt;/altitudeMode&gt;
				&lt;heading&gt;2.7&lt;/heading&gt;
				&lt;tilt&gt;&lt;/tilt&gt;
			&lt;/Camera&gt;
		&lt;/gx:FlyTo&gt;
		&lt;gx:AnimatedUpdate&gt;
			&lt;Update&gt;
				&lt;targetHref/&gt;
				&lt;Change&gt;
					&lt;Placemark&nbsp;targetId=&quot;placemark1&quot;&gt;
						&lt;gx:balloonVisibility&gt;1&lt;/gx:balloonVisibility&gt;
					&lt;/Placemark&gt;
				&lt;/Change&gt;
			&lt;/Update&gt;
		&lt;/gx:AnimatedUpdate&gt;
		&lt;gx:Wait&gt;
			&lt;gx:duration&gt;2&lt;/gx:duration&gt;
		&lt;/gx:Wait&gt;
		&lt;gx:AnimatedUpdate&gt;
			&lt;Update&gt;
				&lt;targetHref/&gt;
				&lt;Change&gt;
					&lt;Placemark&nbsp;targetId=&quot;placemark1&quot;&gt;
						&lt;gx:balloonVisibility&gt;0&lt;/gx:balloonVisibility&gt;
					&lt;/Placemark&gt;
				&lt;/Change&gt;
			&lt;/Update&gt;
		&lt;/gx:AnimatedUpdate&gt;
		&lt;gx:FlyTo&gt;
			&lt;gx:duration&gt;4.0&lt;/gx:duration&gt;
			&lt;gx:flyToMode&gt;bounce&lt;/gx:flyToMode&gt;
			&lt;Camera&gt;
				&lt;longitude&gt;-84.432857&lt;/longitude&gt;
				&lt;latitude&gt;10.055918&lt;/latitude&gt;
				&lt;altitude&gt;20000&lt;/altitude&gt;
				&lt;altitudeMode&gt;relativeToGround&lt;/altitudeMode&gt;
				&lt;heading&gt;2.7&lt;/heading&gt;
				&lt;tilt&gt;&lt;/tilt&gt;
			&lt;/Camera&gt;
		&lt;/gx:FlyTo&gt;
		&lt;gx:AnimatedUpdate&gt;
			&lt;Update&gt;
				&lt;targetHref/&gt;
				&lt;Change&gt;
					&lt;Placemark&nbsp;targetId=&quot;placemark2&quot;&gt;
						&lt;gx:balloonVisibility&gt;1&lt;/gx:balloonVisibility&gt;
					&lt;/Placemark&gt;
				&lt;/Change&gt;
			&lt;/Update&gt;
		&lt;/gx:AnimatedUpdate&gt;
		&lt;gx:Wait&gt;
			&lt;gx:duration&gt;2&lt;/gx:duration&gt;
		&lt;/gx:Wait&gt;
		&lt;gx:AnimatedUpdate&gt;
			&lt;Update&gt;
				&lt;targetHref/&gt;
				&lt;Change&gt;
					&lt;Placemark&nbsp;targetId=&quot;placemark2&quot;&gt;
						&lt;gx:balloonVisibility&gt;0&lt;/gx:balloonVisibility&gt;
					&lt;/Placemark&gt;
				&lt;/Change&gt;
			&lt;/Update&gt;
		&lt;/gx:AnimatedUpdate&gt;
		&lt;gx:FlyTo&gt;
			&lt;gx:duration&gt;4.0&lt;/gx:duration&gt;
			&lt;gx:flyToMode&gt;bounce&lt;/gx:flyToMode&gt;
			&lt;Camera&gt;
				&lt;longitude&gt;-84.47024&lt;/longitude&gt;
				&lt;latitude&gt;10.087801&lt;/latitude&gt;
				&lt;altitude&gt;20000&lt;/altitude&gt;
				&lt;altitudeMode&gt;relativeToGround&lt;/altitudeMode&gt;
				&lt;heading&gt;2.7&lt;/heading&gt;
				&lt;tilt&gt;&lt;/tilt&gt;
			&lt;/Camera&gt;
		&lt;/gx:FlyTo&gt;
		&lt;gx:AnimatedUpdate&gt;
			&lt;Update&gt;
				&lt;targetHref/&gt;
				&lt;Change&gt;
					&lt;Placemark&nbsp;targetId=&quot;placemark3&quot;&gt;
						&lt;gx:balloonVisibility&gt;1&lt;/gx:balloonVisibility&gt;
					&lt;/Placemark&gt;
				&lt;/Change&gt;
			&lt;/Update&gt;
		&lt;/gx:AnimatedUpdate&gt;
		&lt;gx:Wait&gt;
			&lt;gx:duration&gt;2&lt;/gx:duration&gt;
		&lt;/gx:Wait&gt;
		&lt;gx:AnimatedUpdate&gt;
			&lt;Update&gt;
				&lt;targetHref/&gt;
				&lt;Change&gt;
					&lt;Placemark&nbsp;targetId=&quot;placemark3&quot;&gt;
						&lt;gx:balloonVisibility&gt;0&lt;/gx:balloonVisibility&gt;
					&lt;/Placemark&gt;
				&lt;/Change&gt;
			&lt;/Update&gt;
		&lt;/gx:AnimatedUpdate&gt;
		&lt;gx:FlyTo&gt;
			&lt;gx:duration&gt;4.0&lt;/gx:duration&gt;
			&lt;gx:flyToMode&gt;bounce&lt;/gx:flyToMode&gt;
			&lt;Camera&gt;
				&lt;longitude&gt;-84.645374&lt;/longitude&gt;
				&lt;latitude&gt;10.471396&lt;/latitude&gt;
				&lt;altitude&gt;20000&lt;/altitude&gt;
				&lt;altitudeMode&gt;relativeToGround&lt;/altitudeMode&gt;
				&lt;heading&gt;2.7&lt;/heading&gt;
				&lt;tilt&gt;&lt;/tilt&gt;
			&lt;/Camera&gt;
		&lt;/gx:FlyTo&gt;
		&lt;gx:AnimatedUpdate&gt;
			&lt;Update&gt;
				&lt;targetHref/&gt;
				&lt;Change&gt;
					&lt;Placemark&nbsp;targetId=&quot;placemark4&quot;&gt;
						&lt;gx:balloonVisibility&gt;1&lt;/gx:balloonVisibility&gt;
					&lt;/Placemark&gt;
				&lt;/Change&gt;
			&lt;/Update&gt;
		&lt;/gx:AnimatedUpdate&gt;
		&lt;gx:Wait&gt;
			&lt;gx:duration&gt;2&lt;/gx:duration&gt;
		&lt;/gx:Wait&gt;
		&lt;gx:AnimatedUpdate&gt;
			&lt;Update&gt;
				&lt;targetHref/&gt;
				&lt;Change&gt;
					&lt;Placemark&nbsp;targetId=&quot;placemark4&quot;&gt;
						&lt;gx:balloonVisibility&gt;0&lt;/gx:balloonVisibility&gt;
					&lt;/Placemark&gt;
				&lt;/Change&gt;
			&lt;/Update&gt;
		&lt;/gx:AnimatedUpdate&gt;
	&lt;/gx:Playlist&gt;
&lt;/gx:Tour&gt;
&lt;Folder&gt;
	&lt;name&gt;&lt;![CDATA[How&nbsp;to&nbsp;get&nbsp;to&nbsp;La&nbsp;Fortuna&nbsp;from&nbsp;San&nbsp;Jos&eacute;.]]&gt;&lt;/name&gt;
	&lt;open&gt;1&lt;/open&gt;
	&lt;Style&nbsp;id=&quot;icon1&quot;&gt;
		&lt;IconStyle&nbsp;id=&quot;i1&quot;&gt;
			&lt;Icon&gt;
				&lt;href&gt;http://www.tripline.net/api/icon1.png&lt;/href&gt;
			&lt;/Icon&gt;
		&lt;/IconStyle&gt;
		&lt;LineStyle&nbsp;id=&quot;ls1&quot;&gt;
			&lt;color&gt;fc0000ff&lt;/color&gt;
			&lt;width&gt;8&lt;/width&gt;
		&lt;/LineStyle&gt;
	&lt;/Style&gt;
	&lt;Placemark&nbsp;id=&quot;placemark1&quot;&gt;
		&lt;name&gt;&lt;![CDATA[San&nbsp;Jos&eacute;,&nbsp;Costa&nbsp;Rica]]&gt;&lt;/name&gt;
		&lt;styleUrl&gt;#icon1&lt;/styleUrl&gt;
		&lt;description&gt;&lt;![CDATA[&lt;table&nbsp;width=&quot;400&quot;&gt;&lt;tr&gt;&lt;td&gt;The&nbsp;country&apos;s&nbsp;business&nbsp;center&nbsp;and&nbsp;the&nbsp;capital&nbsp;city&nbsp;with&nbsp;the&nbsp;most&nbsp;densely&nbsp;populated&nbsp;area&nbsp;per&nbsp;capita.&nbsp;San&nbsp;Jose&nbsp;Costa&nbsp;Rica&nbsp;is&nbsp;also&nbsp;the&nbsp;capital&nbsp;of&nbsp;the&nbsp;Province&nbsp;of&nbsp;San&nbsp;Jose.&nbsp;The&nbsp;central&nbsp;government&nbsp;of&nbsp;Costa&nbsp;Rica&nbsp;has&nbsp;its&nbsp;main&nbsp;offices&nbsp;in&nbsp;San&nbsp;Jose&nbsp;and&nbsp;it&nbsp;is&nbsp;from&nbsp;here&nbsp;that&nbsp;the&nbsp;different&nbsp;branches&nbsp;of&nbsp;government&nbsp;administer&nbsp;the&nbsp;country&nbsp;Costa&nbsp;Rica.&lt;br/&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;a&nbsp;href=&quot;http://lh6.ggpht.com/-U-L64yNQNos/VB7pcP__JjI/AAAAAAAACzg/wdlJX6UBhLk/P1020053%252520%2525282%252529.JPG&quot;&nbsp;target=&quot;_blank&quot;&gt;&lt;img&nbsp;src=&quot;http://lh6.ggpht.com/-U-L64yNQNos/VB7pcP__JjI/AAAAAAAACzg/wdlJX6UBhLk/s104/P1020053%252520%2525282%252529.JPG&quot;&nbsp;style=&quot;padding:5px&nbsp;5px&nbsp;5px&nbsp;0px;&quot;&nbsp;/&gt;&lt;/a&gt;&lt;a&nbsp;href=&quot;http://lh6.ggpht.com/-xbDf0Otpdg0/VBjMv0am3WI/AAAAAAAAAjI/iLLTCiTfmqE/sanjose.jpg&quot;&nbsp;target=&quot;_blank&quot;&gt;&lt;img&nbsp;src=&quot;http://lh6.ggpht.com/-xbDf0Otpdg0/VBjMv0am3WI/AAAAAAAAAjI/iLLTCiTfmqE/s104/sanjose.jpg&quot;&nbsp;style=&quot;padding:5px&nbsp;5px&nbsp;5px&nbsp;0px;&quot;&nbsp;/&gt;&lt;/a&gt;&lt;a&nbsp;href=&quot;http://lh3.ggpht.com/-6ChtvYfUTp0/VBdI55JM_YI/AAAAAAAAFXM/nWz_qoOndB8/f1df5c2b-1784-4d14-8644-ca338720e135.jpg&quot;&nbsp;target=&quot;_blank&quot;&gt;&lt;img&nbsp;src=&quot;http://lh3.ggpht.com/-6ChtvYfUTp0/VBdI55JM_YI/AAAAAAAAFXM/nWz_qoOndB8/s104/f1df5c2b-1784-4d14-8644-ca338720e135.jpg&quot;&nbsp;style=&quot;padding:5px&nbsp;5px&nbsp;5px&nbsp;0px;&quot;&nbsp;/&gt;&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;]]&gt;&lt;/description&gt;
		&lt;MultiGeometry&gt;
			&lt;Point&gt;
				&lt;coordinates&gt;-84.0907246,9.9280694,0&lt;/coordinates&gt;
			&lt;/Point&gt;
		&lt;/MultiGeometry&gt;
	&lt;/Placemark&gt;
	&lt;Style&nbsp;id=&quot;icon2&quot;&gt;
		&lt;IconStyle&nbsp;id=&quot;i2&quot;&gt;
			&lt;color&gt;ffffffff&lt;/color&gt;			&lt;Icon&gt;
				&lt;href&gt;http://www.tripline.net/api/icon2.png&lt;/href&gt;
			&lt;/Icon&gt;
		&lt;/IconStyle&gt;
		&lt;LineStyle&nbsp;id=&quot;ls2&quot;&gt;
			&lt;color&gt;fc0000ff&lt;/color&gt;
			&lt;width&gt;8&lt;/width&gt;
		&lt;/LineStyle&gt;
	&lt;/Style&gt;
	&lt;Placemark&nbsp;id=&quot;placemark2&quot;&gt;
		&lt;name&gt;&lt;![CDATA[Palmares,&nbsp;Costa&nbsp;Rica]]&gt;&lt;/name&gt;
		&lt;styleUrl&gt;#icon2&lt;/styleUrl&gt;
		&lt;description&gt;&lt;![CDATA[&lt;table&nbsp;width=&quot;400&quot;&gt;&lt;tr&gt;&lt;td&gt;When&nbsp;Costa&nbsp;Ricans&nbsp;are&nbsp;done&nbsp;celebrating&nbsp;the&nbsp;Christmas&nbsp;and&nbsp;New&nbsp;Year&nbsp;holidays,&nbsp;they&nbsp;have&nbsp;yet&nbsp;another&nbsp;party&nbsp;to&nbsp;look&nbsp;forward&nbsp;to:&nbsp;the&nbsp;Palmares&nbsp;fiestas,&nbsp;one&nbsp;of&nbsp;Costa&nbsp;Rica&rsquo;s&nbsp;most&nbsp;anticipated&nbsp;traditional&nbsp;celebrations.&lt;br&nbsp;/&gt;
&lt;br&nbsp;/&gt;
Palmares,&nbsp;a&nbsp;small&nbsp;town&nbsp;between&nbsp;Alajuela&nbsp;and&nbsp;San&nbsp;Ramon,&nbsp;is&nbsp;known&nbsp;for&nbsp;hosting&nbsp;the&nbsp;best&nbsp;fiestas&nbsp;and&nbsp;horse&nbsp;parade&nbsp;in&nbsp;the&nbsp;country.&nbsp;&nbsp;During&nbsp;the&nbsp;second&nbsp;half&nbsp;of&nbsp;January,&nbsp;Palmares&nbsp;becomes&nbsp;the&nbsp;focal&nbsp;point&nbsp;for&nbsp;many&nbsp;locals.&nbsp;&lt;br/&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;a&nbsp;href=&quot;http://lh5.ggpht.com/-sAm5Jv_ikjU/UsJTZDCKxdI/AAAAAAAAH4U/Ub1tiGhosNk/033-02%252520Metal%252520Church%252520in%252520Grecia.jpg&quot;&nbsp;target=&quot;_blank&quot;&gt;&lt;img&nbsp;src=&quot;http://lh5.ggpht.com/-sAm5Jv_ikjU/UsJTZDCKxdI/AAAAAAAAH4U/Ub1tiGhosNk/s104/033-02%252520Metal%252520Church%252520in%252520Grecia.jpg&quot;&nbsp;style=&quot;padding:5px&nbsp;5px&nbsp;5px&nbsp;0px;&quot;&nbsp;/&gt;&lt;/a&gt;&lt;a&nbsp;href=&quot;http://lh4.ggpht.com/-bjUWrkglQNY/UnujCvHabuI/AAAAAAAABco/qEeb7buBXgE/Church%25252C%252520Palmares%25252C%252520Costa%252520Rica%252520by%252520Andrew%252520Morrell.jpg&quot;&nbsp;target=&quot;_blank&quot;&gt;&lt;img&nbsp;src=&quot;http://lh4.ggpht.com/-bjUWrkglQNY/UnujCvHabuI/AAAAAAAABco/qEeb7buBXgE/s104/Church%25252C%252520Palmares%25252C%252520Costa%252520Rica%252520by%252520Andrew%252520Morrell.jpg&quot;&nbsp;style=&quot;padding:5px&nbsp;5px&nbsp;5px&nbsp;0px;&quot;&nbsp;/&gt;&lt;/a&gt;&lt;a&nbsp;href=&quot;http://lh5.ggpht.com/-ZMwsrC3CfjE/ThmyceIOGtI/AAAAAAAACe0/1QTb4cUb2Hs/Palmares_square478561938373439661.jpg&quot;&nbsp;target=&quot;_blank&quot;&gt;&lt;img&nbsp;src=&quot;http://lh5.ggpht.com/-ZMwsrC3CfjE/ThmyceIOGtI/AAAAAAAACe0/1QTb4cUb2Hs/s104/Palmares_square478561938373439661.jpg&quot;&nbsp;style=&quot;padding:5px&nbsp;5px&nbsp;5px&nbsp;0px;&quot;&nbsp;/&gt;&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;]]&gt;&lt;/description&gt;
		&lt;MultiGeometry&gt;
			&lt;Point&gt;
				&lt;coordinates&gt;-84.432857,10.055918,0&lt;/coordinates&gt;
			&lt;/Point&gt;
			&lt;LineString&nbsp;id=&quot;line2&quot;&gt;
				&lt;extrude&gt;1&lt;/extrude&gt;
				&lt;tessellate&gt;1&lt;/tessellate&gt;
				&lt;coordinates&gt;-84.432857,10.055918,0&nbsp;-84.0907246,9.9280694,0&lt;/coordinates&gt;
			&lt;/LineString&gt;
		&lt;/MultiGeometry&gt;
	&lt;/Placemark&gt;
	&lt;Style&nbsp;id=&quot;icon3&quot;&gt;
		&lt;IconStyle&nbsp;id=&quot;i3&quot;&gt;
			&lt;color&gt;ffffffff&lt;/color&gt;			&lt;Icon&gt;
				&lt;href&gt;http://www.tripline.net/api/icon3.png&lt;/href&gt;
			&lt;/Icon&gt;
		&lt;/IconStyle&gt;
		&lt;LineStyle&nbsp;id=&quot;ls3&quot;&gt;
			&lt;color&gt;fc0000ff&lt;/color&gt;
			&lt;width&gt;8&lt;/width&gt;
		&lt;/LineStyle&gt;
	&lt;/Style&gt;
	&lt;Placemark&nbsp;id=&quot;placemark3&quot;&gt;
		&lt;name&gt;&lt;![CDATA[San&nbsp;Ram&oacute;n,&nbsp;Costa&nbsp;Rica]]&gt;&lt;/name&gt;
		&lt;styleUrl&gt;#icon3&lt;/styleUrl&gt;
		&lt;description&gt;&lt;![CDATA[&lt;table&nbsp;width=&quot;400&quot;&gt;&lt;tr&gt;&lt;td&gt;The&nbsp;slower&nbsp;pace&nbsp;of&nbsp;life&nbsp;found&nbsp;in&nbsp;San&nbsp;Ram&oacute;n&nbsp;appeals&nbsp;to&nbsp;locals&nbsp;and&nbsp;visitors&nbsp;alike&nbsp;as&nbsp;it&nbsp;is&nbsp;just&nbsp;an&nbsp;hour&nbsp;or&nbsp;so&nbsp;from&nbsp;San&nbsp;Jos&eacute;.&nbsp;So&nbsp;many&nbsp;people&nbsp;prefer&nbsp;the&nbsp;lifestyle&nbsp;here&nbsp;that&nbsp;they&nbsp;commute&nbsp;into&nbsp;the&nbsp;bustling&nbsp;metropolitan&nbsp;area&nbsp;of&nbsp;the&nbsp;capital&nbsp;city&nbsp;daily.&nbsp;There&nbsp;are&nbsp;many&nbsp;arts&nbsp;and&nbsp;crafts&nbsp;to&nbsp;be&nbsp;checked&nbsp;out&nbsp;as&nbsp;well&nbsp;as&nbsp;the&nbsp;public&nbsp;market&nbsp;which&nbsp;is&nbsp;open&nbsp;on&nbsp;Saturdays&nbsp;and&nbsp;is&nbsp;not&nbsp;to&nbsp;be&nbsp;missed.&nbsp;Exploring&nbsp;this&nbsp;interesting&nbsp;city&nbsp;will&nbsp;provide&nbsp;insight&nbsp;as&nbsp;to&nbsp;why&nbsp;so&nbsp;many&nbsp;important&nbsp;literary&nbsp;and&nbsp;political&nbsp;figures&nbsp;of&nbsp;Costa&nbsp;Rica&nbsp;have&nbsp;chosen&nbsp;San&nbsp;Ram&oacute;n&nbsp;as&nbsp;their&nbsp;home&nbsp;at&nbsp;one&nbsp;time&nbsp;or&nbsp;another.&nbsp;For&nbsp;this&nbsp;reason&nbsp;it&nbsp;is&nbsp;referred&nbsp;to&nbsp;as&nbsp;&lsquo;the&nbsp;city&nbsp;of&nbsp;presidents&nbsp;and&nbsp;poets&rsquo;.&lt;br/&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;a&nbsp;href=&quot;http://dts4h52y4acn7.cloudfront.net/43447507762310078D27CFADEA6B62A7f.png&quot;&nbsp;target=&quot;_blank&quot;&gt;&lt;img&nbsp;src=&quot;http://dts4h52y4acn7.cloudfront.net/43447507762310078D27CFADEA6B62A7sq.png&quot;&nbsp;style=&quot;padding:5px&nbsp;5px&nbsp;5px&nbsp;0px;&quot;&nbsp;/&gt;&lt;/a&gt;&lt;a&nbsp;href=&quot;http://dts4h52y4acn7.cloudfront.net/4346574376231007A3A3C89C59F190AFf.png&quot;&nbsp;target=&quot;_blank&quot;&gt;&lt;img&nbsp;src=&quot;http://dts4h52y4acn7.cloudfront.net/4346574376231007A3A3C89C59F190AFsq.png&quot;&nbsp;style=&quot;padding:5px&nbsp;5px&nbsp;5px&nbsp;0px;&quot;&nbsp;/&gt;&lt;/a&gt;&lt;a&nbsp;href=&quot;http://dts4h52y4acn7.cloudfront.net/434475077623100781FCE10C5BF5EA85f.png&quot;&nbsp;target=&quot;_blank&quot;&gt;&lt;img&nbsp;src=&quot;http://dts4h52y4acn7.cloudfront.net/434475077623100781FCE10C5BF5EA85sq.png&quot;&nbsp;style=&quot;padding:5px&nbsp;5px&nbsp;5px&nbsp;0px;&quot;&nbsp;/&gt;&lt;/a&gt;&lt;a&nbsp;href=&quot;http://dts4h52y4acn7.cloudfront.net/4351562276231007B2BFC422E9A39817f.png&quot;&nbsp;target=&quot;_blank&quot;&gt;&lt;img&nbsp;src=&quot;http://dts4h52y4acn7.cloudfront.net/4351562276231007B2BFC422E9A39817sq.png&quot;&nbsp;style=&quot;padding:5px&nbsp;5px&nbsp;5px&nbsp;0px;&quot;&nbsp;/&gt;&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;]]&gt;&lt;/description&gt;
		&lt;MultiGeometry&gt;
			&lt;Point&gt;
				&lt;coordinates&gt;-84.47024,10.087801,0&lt;/coordinates&gt;
			&lt;/Point&gt;
			&lt;LineString&nbsp;id=&quot;line3&quot;&gt;
				&lt;extrude&gt;1&lt;/extrude&gt;
				&lt;tessellate&gt;1&lt;/tessellate&gt;
				&lt;coordinates&gt;-84.47024,10.087801,0&nbsp;-84.432857,10.055918,0&lt;/coordinates&gt;
			&lt;/LineString&gt;
		&lt;/MultiGeometry&gt;
	&lt;/Placemark&gt;
	&lt;Style&nbsp;id=&quot;icon4&quot;&gt;
		&lt;IconStyle&nbsp;id=&quot;i4&quot;&gt;
			&lt;color&gt;ffffffff&lt;/color&gt;			&lt;Icon&gt;
				&lt;href&gt;http://www.tripline.net/api/icon4.png&lt;/href&gt;
			&lt;/Icon&gt;
		&lt;/IconStyle&gt;
		&lt;LineStyle&nbsp;id=&quot;ls4&quot;&gt;
			&lt;color&gt;fc0000ff&lt;/color&gt;
			&lt;width&gt;8&lt;/width&gt;
		&lt;/LineStyle&gt;
	&lt;/Style&gt;
	&lt;Placemark&nbsp;id=&quot;placemark4&quot;&gt;
		&lt;name&gt;&lt;![CDATA[La&nbsp;Fortuna,&nbsp;Costa&nbsp;Rica]]&gt;&lt;/name&gt;
		&lt;styleUrl&gt;#icon4&lt;/styleUrl&gt;
		&lt;description&gt;&lt;![CDATA[&lt;table&nbsp;width=&quot;400&quot;&gt;&lt;tr&gt;&lt;td&gt;Made&nbsp;up&nbsp;mostly&nbsp;of&nbsp;primary&nbsp;rainforest,&nbsp;The&nbsp;Arenal&nbsp;Volcano&nbsp;National&nbsp;Park&nbsp;encompasses&nbsp;four&nbsp;different&nbsp;life&nbsp;zones&nbsp;and&nbsp;harbors&nbsp;a&nbsp;tremendous&nbsp;amount&nbsp;of&nbsp;flora&nbsp;and&nbsp;fauna.&nbsp;In&nbsp;fact,&nbsp;nearly&nbsp;75%&nbsp;of&nbsp;the&nbsp;total&nbsp;850&nbsp;species&nbsp;of&nbsp;birds&nbsp;that&nbsp;have&nbsp;been&nbsp;identified&nbsp;in&nbsp;Costa&nbsp;Rica&nbsp;can&nbsp;be&nbsp;found&nbsp;here.&nbsp;Other&nbsp;creatures&nbsp;include&nbsp;sloths,&nbsp;white-faced&nbsp;capuchin&nbsp;monkeys,&nbsp;coati,&nbsp;deer&nbsp;and&nbsp;snakes,&nbsp;including&nbsp;the&nbsp;infamous&nbsp;fer-de-lance,&nbsp;parrot&nbsp;snake&nbsp;and&nbsp;boa&nbsp;constrictor.&nbsp;&lt;br/&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;a&nbsp;href=&quot;http://lh6.ggpht.com/-ZEqlcBQ211M/VB9eeHgSILI/AAAAAAAAzWI/ySsraqjmJ3g/14%252520-%2525201.jpg&quot;&nbsp;target=&quot;_blank&quot;&gt;&lt;img&nbsp;src=&quot;http://lh6.ggpht.com/-ZEqlcBQ211M/VB9eeHgSILI/AAAAAAAAzWI/ySsraqjmJ3g/s104/14%252520-%2525201.jpg&quot;&nbsp;style=&quot;padding:5px&nbsp;5px&nbsp;5px&nbsp;0px;&quot;&nbsp;/&gt;&lt;/a&gt;&lt;a&nbsp;href=&quot;http://lh3.ggpht.com/-aag-DzuvJqU/VB8jLk7VqQI/AAAAAAAADDs/nkTipmL32Jo/14%252520-%2525201.jpg&quot;&nbsp;target=&quot;_blank&quot;&gt;&lt;img&nbsp;src=&quot;http://lh3.ggpht.com/-aag-DzuvJqU/VB8jLk7VqQI/AAAAAAAADDs/nkTipmL32Jo/s104/14%252520-%2525201.jpg&quot;&nbsp;style=&quot;padding:5px&nbsp;5px&nbsp;5px&nbsp;0px;&quot;&nbsp;/&gt;&lt;/a&gt;&lt;a&nbsp;href=&quot;http://lh4.ggpht.com/-tNId0OeKCoY/VA5_kfQ0WBI/AAAAAAAAAaM/hDCyqknNpyM/Arenal%252520Volcano%25252C%252520La%252520Fortuna..jpg&quot;&nbsp;target=&quot;_blank&quot;&gt;&lt;img&nbsp;src=&quot;http://lh4.ggpht.com/-tNId0OeKCoY/VA5_kfQ0WBI/AAAAAAAAAaM/hDCyqknNpyM/s104/Arenal%252520Volcano%25252C%252520La%252520Fortuna..jpg&quot;&nbsp;style=&quot;padding:5px&nbsp;5px&nbsp;5px&nbsp;0px;&quot;&nbsp;/&gt;&lt;/a&gt;&lt;a&nbsp;href=&quot;http://lh5.ggpht.com/-wbaQbNtT2w4/VBhCLI4IYPI/AAAAAAAAAEs/fvHDxPxYZak/81b9792c-ce7a-4350-a312-0791b72e4a35.jpg&quot;&nbsp;target=&quot;_blank&quot;&gt;&lt;img&nbsp;src=&quot;http://lh5.ggpht.com/-wbaQbNtT2w4/VBhCLI4IYPI/AAAAAAAAAEs/fvHDxPxYZak/s104/81b9792c-ce7a-4350-a312-0791b72e4a35.jpg&quot;&nbsp;style=&quot;padding:5px&nbsp;5px&nbsp;5px&nbsp;0px;&quot;&nbsp;/&gt;&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;]]&gt;&lt;/description&gt;
		&lt;MultiGeometry&gt;
			&lt;Point&gt;
				&lt;coordinates&gt;-84.645374,10.471396,0&lt;/coordinates&gt;
			&lt;/Point&gt;
			&lt;LineString&nbsp;id=&quot;line4&quot;&gt;
				&lt;extrude&gt;1&lt;/extrude&gt;
				&lt;tessellate&gt;1&lt;/tessellate&gt;
				&lt;coordinates&gt;-84.645374,10.471396,0&nbsp;-84.47024,10.087801,0&lt;/coordinates&gt;
			&lt;/LineString&gt;
		&lt;/MultiGeometry&gt;
	&lt;/Placemark&gt;
&lt;/Folder&gt;
&lt;/Document&gt;
&lt;/kml&gt;
</code>
</pre>

</div>

<div class="tab-pane fade" id="mathml">
    <h3>Baye's Theorom</h3>
    <br/>
    <p>
        <math xmlns="http://www.w3.org/1998/Math/MathML">
            <mi>P</mi>
            <mo>(</mo>
            <mi>A</mi>
            <menclose notation="left">
                <mi>B</mi>
            </menclose>
            <mo>)</mo>
            <mo>&#160;</mo>
            <mo>=</mo>
            <mfrac>
                <mrow>
                    <mi>P</mi>
                    <mo>(</mo>
                    <mi>A</mi>
                    <mo>)</mo>
                    <mi>P</mi>
                    <mo>(</mo>
                    <mi>B</mi>
                    <menclose notation="left">
                        <mi>A</mi>
                    </menclose>
                    <mo>)</mo>
                </mrow>
                <mrow>
                    <mi>P</mi>
                    <mo>(</mo>
                    <mi>B</mi>
                    <mo>)</mo>
                </mrow>
            </mfrac>
        </math>
    </p>
    <br/>
    <div class="row">
        <div class="text-left">
            <p>
                Bayes' theorem shows the relation between a conditional probability and its reverse form.
            </p>
            <p>
                P(A) is the prior probability or marginal probability of A. It is "prior" in the sense that it does not take into account any information about B.<br/>
                P(A|B) is the conditional probability of A, given B. It is also called the posterior probability because it is derived from or depends upon the specified value of B.<br/>
                P(B|A) is the conditional probability of B given A. It is also called the likelihood.<br/>
                P(B) is the prior or marginal probability of B, and acts as a normalizing constant.
            </p>
        </div>
    </div>

</div>
<div class="tab-pane fade" id="svg">
    <svg width="640" height="480" xmlns="http://www.w3.org/2000/svg">
        <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
        <g>
            <title>Layer 1</title>
            <path id="svg_1" d="m409.296112,216.33429c-10.205103,-1.716429 -20.826551,-2.846554 -29.451172,-3.152454l-1.520994,-0.050983c0.348384,-0.764746 0.611797,-1.283073 0.696769,-1.359548c0.186938,-0.152949 0.339887,-0.798734 0.356881,-1.427525c0,-0.348384 0.152949,-1.478509 0.390871,-2.974011c2.336725,0.084972 5.438186,0.152949 8.820069,0.178441c13.060147,0.101966 26.723579,1.155617 36.095943,2.812564c5.582642,0.985673 7.426528,0.951684 3.3054,-0.050983c-4.172109,-1.011165 -16.543991,-2.498168 -26.400686,-3.143952c-6.619297,-0.450351 -16.110626,-0.620294 -21.701767,-0.526825c0.161446,-0.96868 0.348384,-2.047818 0.54382,-3.152454c0.790237,-4.274078 1.053651,-8.573637 1.070645,-17.130287c0.016994,-13.272577 -0.696769,-16.926355 -5.02183,-25.70393c-1.758916,-3.585809 -3.747254,-6.627797 -6.151953,-9.380875c2.098803,-6.194436 2.047818,-15.787741 -0.127458,-24.199936c-1.792904,-6.899699 -2.421695,-7.341551 -8.675614,-6.015992c-5.30235,1.130251 -9.550855,2.668231 -14.997571,5.412829c-2.574642,1.300068 -6.126461,3.322393 -8.701099,4.911362c-6.712757,-2.362214 -13.654949,-3.925694 -21.064486,-4.766911c-7.5115,-0.849719 -25.92486,-0.373877 -32.459194,0.832723c-6.389867,1.181107 -12.142444,2.625625 -17.351223,4.342054c-2.600134,-1.605967 -6.372874,-3.772742 -9.066477,-5.132292c-5.472084,-2.753107 -9.720634,-4.282556 -15.039879,-5.412736c-6.236919,-1.334058 -6.882707,-0.883706 -8.667111,6.015992c-2.209266,8.522659 -2.226261,18.277418 -0.042486,24.454865c0.254901,0.705306 0.407885,1.206664 0.467303,1.597472c-8.854047,11.14828 -11.743079,23.62211 -9.822725,41.032803c0.501333,4.53749 1.274576,8.701099 2.353716,12.51633c-5.650615,-0.033989 -13.688932,0.169943 -19.492495,0.54382c-9.873701,0.654283 -22.245584,2.124294 -26.417683,3.135459c-4.112628,1.002667 -2.285742,1.036655 3.3054,0.05948c9.372376,-1.648451 23.044312,-2.719094 36.095943,-2.812564c2.464178,-0.008497 4.766911,-0.05948 6.746747,-0.110464c0.594803,2.013829 1.274576,3.934188 2.047818,5.761078l-0.059412,0.008565c-8.624627,0.297401 -19.237589,1.427525 -29.442677,3.143952c-7.655946,1.283073 -18.95718,3.849219 -20.274229,4.58847c-1.38504,0.773243 -0.254915,0.603299 5.676107,-0.9007c10.816895,-2.73609 24.8797,-4.834887 42.298882,-6.2964l1.945853,-0.169943c3.738758,8.684107 9.499838,15.311888 17.640127,20.478178c4.979345,3.169445 12.958191,6.423863 16.977343,6.93369c1.104634,0.135955 4.316564,0.798734 7.137622,1.461515c2.829561,0.66278 8.361207,1.65695 12.286915,2.226261h0.093469c-0.076475,0.050983 -0.144452,0.084972 -0.21243,0.135955c-4.758416,2.472677 -7.851384,6.321896 -9.933195,12.380376c-0.93469,0.280407 -2.098803,0.66278 -3.356383,1.096137c-4.495006,1.52949 -6.245417,1.843887 -10.799896,1.877877c-4.724424,0.033989 -5.846055,-0.169943 -8.667111,-1.495503c-4.104132,-1.911863 -7.927858,-5.429688 -10.477004,-9.627293c-4.25708,-7.018662 -11.615625,-11.981006 -17.750584,-11.981006c-5.242755,0 -6.236919,2.124294 -2.447187,5.225758c5.710098,4.664948 9.975682,9.423362 11.726087,13.060147c0.985673,2.039323 2.498168,5.191772 3.373376,7.001669c0.926192,1.92886 2.906033,4.545986 4.792401,6.35588c4.435524,4.231589 8.7181,6.253915 15.107968,7.205595c4.28257,0.628791 5.33622,0.628791 10.392035,-0.016994c2.438687,-0.297401 4.495006,-0.645785 6.338882,-1.079143c0,2.073308 0,4.461012 0,7.265081c0,15.006003 -0.178441,19.832392 -0.773243,21.242918c-1.121628,2.685106 -3.636788,5.446691 -6.083971,6.687268c-2.438687,1.240588 -3.194937,2.608633 -2.16678,3.866211c0.56931,0.679775 1.665445,0.798734 5.344725,0.560814c6.984674,-0.433356 11.921527,-3.016495 14.436683,-7.570976c0.807231,-1.461515 0.99417,-4.401538 1.249086,-19.696426c0.27191,-16.594963 0.390871,-18.192421 1.470012,-20.563143c0.654283,-1.410531 1.597468,-2.940025 2.124294,-3.356383c0.883706,-0.730757 0.943189,0.713763 0.943189,20.563143c-0.008497,21.905701 -0.229424,24.548326 -2.421695,28.762899c-0.492836,0.96018 -1.427525,2.209266 -2.081804,2.804066c-1.147119,1.045153 -1.631459,3.72176 -0.832723,4.528991c1.317063,1.308565 7.919364,-0.747752 11.522159,-3.585809c6.134955,-4.860377 6.86571,-8.879539 6.916695,-37.905857l0.025492,-17.028315l1.860881,0.178441l1.860881,0.169943l0.305898,22.271069c0.348384,25.075136 0.399368,25.440506 4.664948,30.283915c2.421695,2.73609 4.860377,4.248589 8.828565,5.429688c5.310731,1.597468 6.908199,-0.866712 3.339389,-5.140786c-3.883202,-4.647954 -4.070144,-6.423863 -3.857718,-33.937691c0.144452,-17.640127 0.144452,-17.640127 1.283073,-16.611963c2.396202,2.175278 2.855051,5.744087 2.855051,22.288078c0,20.546143 0.586305,22.500511 7.842882,26.086308c3.390372,1.65695 4.342054,1.860881 8.684107,1.877877c4.622464,0.016994 4.902868,-0.050983 5.072814,-1.257582c0.144452,-0.977175 -0.42486,-1.639956 -2.583142,-2.957016c-2.829561,-1.741921 -4.792401,-3.96818 -6.024497,-6.772244c-0.467344,-1.079143 -0.781741,-8.148783 -0.99417,-22.704428c-0.305898,-20.333723 -0.373877,-21.259911 -1.639956,-24.446352c-1.707932,-4.28257 -4.316564,-7.664449 -7.621962,-9.907694c-0.858215,-0.560814 -1.716429,-1.028158 -2.829561,-1.376543c1.368045,-0.135955 2.693605,-0.280407 3.976676,-0.467344c13.357546,-1.775909 20.418697,-3.254416 26.086308,-5.446691c11.989502,-4.613964 20.095804,-12.278412 24.488842,-23.146278c0.390871,-0.96868 0.781741,-1.886373 1.11313,-2.625625l3.381871,0.280407c17.427696,1.470012 31.490494,3.568813 42.307362,6.313399c5.931023,1.503999 7.061152,1.68244 5.676107,0.892202c-1.291638,-0.722362 -12.592786,-3.280117 -20.240277,-4.563167zm-51.101959,-0.263306c-1.97984,4.350549 -7.502996,9.941703 -11.964021,12.133948c-4.401538,2.175278 -11.301227,3.832225 -19.118631,4.622464c-5.344725,0.54382 -35.152782,0.705266 -40.072617,0.220927c-16.289072,-1.597468 -25.415024,-4.732924 -32.144764,-11.01233c-6.372874,-5.965013 -9.346883,-14.062817 -8.828565,-24.029987c0.33139,-6.236919 1.83539,-10.154119 5.769579,-14.912533c3.577311,-4.333558 7.341551,-7.01017 11.777072,-8.369712c3.713266,-1.138621 15.107968,-1.240588 30.428364,-0.254915c6.772244,0.433356 12.371876,0.433356 19.135626,0c16.025656,-1.011165 26.723579,-0.9007 30.674784,0.322893c6.211427,1.920361 11.870538,7.086639 15.269412,13.969353c1.52949,3.075977 1.826891,4.38454 2.047818,9.134457c0.305881,6.542867 -0.824307,13.493398 -2.974057,18.175436zm-80.808075,-28.091629c-9.117461,-1.597468 -14.326233,14.011825 -7.333063,21.982178c3.322393,3.781237 6.270909,4.401538 9.958689,2.107298c3.415864,-2.132791 5.268242,-6.117967 5.268242,-11.284236c-0.000008,-6.891162 -3.135415,-11.955554 -7.893868,-12.80524zm55.34201,0.934692c-9.117461,-1.597468 -14.334721,13.994837 -7.341551,21.973658c3.33089,3.781237 6.270909,4.410034 9.967177,2.098803c3.407364,-2.124294 5.268242,-6.117967 5.268242,-11.284236c-0.000039,-6.8658 -3.135445,-11.947038 -7.893868,-12.788224zm-24.522766,30.691788c-0.195435,0.628791 -1.147119,1.56348 -2.107298,2.064814c-2.43019,1.249086 -4.180603,0.815729 -6.746747,-1.520994c-1.588972,-1.436022 -2.311233,-2.192272 -2.795571,-0.688271c-0.450351,1.393537 2.379208,4.189102 4.562982,5.047318c2.005333,0.798734 3.441355,0.824227 5.616626,-0.084972c2.158282,-0.9007 4.044652,-3.322393 4.044652,-4.894367c-0.00006,-1.461644 -2.098753,-1.393681 -2.574645,0.076473zm-2.693634,-4.88591c1.38504,-1.223594 1.699437,-3.738758 0.373877,-5.072814s-4.019164,-1.130124 -5.072814,0.365379c-1.223594,1.750416 -0.56931,3.084472 0.305898,4.503499c1.359561,1.053592 3.186405,1.26604 4.393039,0.203937z" stroke-width="5" stroke="#000000" fill="#0000ff"/>
            <text xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" id="svg_3" y="345" x="304" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000">Git GitHub</text>
        </g>
    </svg>

    <pre class="text-left"><code>
                                &lt;svg width=&quot;640&quot; height=&quot;480&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;
                                &lt;!-- Created with SVG-edit - http://svg-edit.googlecode.com/ --&gt;
                                &lt;g&gt;
                                &lt;title&gt;Layer 1&lt;/title&gt;
                                &lt;path id=&quot;svg_1&quot; d=&quot;m409.296112,216.33429c-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10.205103,-1.716429 -20.826551,-2.846554 -29.451172,-3.152454l-1.520994,-0.050983c0.348384,-0.764746 0.611797,-1.283073 0.696769,-1.359548c0.186938,-0.152949 0.339887,-0.798734 0.356881,-1.427525c0,-0.348384 0.152949,-1.478509 0.390871,-2.974011c2.336725,0.084972 5.438186,0.152949 8.820069,0.178441c13.060147,0.101966 26.723579,1.155617 36.095943,2.812564c5.582642,0.985673 7.426528,0.951684 3.3054,-0.050983c-4.172109,-1.011165 -16.543991,-2.498168 -26.400686,-3.143952c-6.619297,-0.450351 -16.110626,-0.620294 -21.701767,-0.526825c0.161446,-0.96868 0.348384,-2.047818 0.54382,-3.152454c0.790237,-4.274078 1.053651,-8.573637 1.070645,-17.130287c0.016994,-13.272577 -0.696769,-16.926355 -5.02183,-25.70393c-1.758916,-3.585809 -3.747254,-6.627797 -6.151953,-9.380875c2.098803,-6.194436 2.047818,-15.787741 -0.127458,-24.199936c-1.792904,-6.899699 -2.421695,-7.341551 -8.675614,-6.015992c-5.30235,1.130251 -9.550855,2.668231 -14.997571,5.412829c-2.574642,1.300068 -6.126461,3.322393 -8.701099,4.911362c-6.712757,-2.362214 -13.654949,-3.925694 -21.064486,-4.766911c-7.5115,-0.849719 -25.92486,-0.373877 -32.459194,0.832723c-6.389867,1.181107 -12.142444,2.625625 -17.351223,4.342054c-2.600134,-1.605967 -6.372874,-3.772742 -9.066477,-5.132292c-5.472084,-2.753107 -9.720634,-4.282556 -15.039879,-5.412736c-6.236919,-1.334058 -6.882707,-0.883706 -8.667111,6.015992c-2.209266,8.522659 -2.226261,18.277418 -0.042486,24.454865c0.254901,0.705306 0.407885,1.206664 0.467303,1.597472c-8.854047,11.14828 -11.743079,23.62211 -9.822725,41.032803c0.501333,4.53749 1.274576,8.701099 2.353716,12.51633c-5.650615,-0.033989 -13.688932,0.169943 -19.492495,0.54382c-9.873701,0.654283 -22.245584,2.124294 -26.417683,3.135459c-4.112628,1.002667 -2.285742,1.036655 3.3054,0.05948c9.372376,-1.648451 23.044312,-2.719094 36.095943,-2.812564c2.464178,-0.008497 4.766911,-0.05948 6.746747,-0.110464c0.594803,2.013829 1.274576,3.934188 2.047818,5.761078l-0.059412,0.008565c-8.624627,0.297401 -19.237589,1.427525 -29.442677,3.143952c-7.655946,1.283073 -18.95718,3.849219 -20.274229,4.58847c-1.38504,0.773243 -0.254915,0.603299 5.676107,-0.9007c10.816895,-2.73609 24.8797,-4.834887 42.298882,-6.2964l1.945853,-0.169943c3.738758,8.684107 9.499838,15.311888 17.640127,20.478178c4.979345,3.169445 12.958191,6.423863 16.977343,6.93369c1.104634,0.135955 4.316564,0.798734 7.137622,1.461515c2.829561,0.66278 8.361207,1.65695 12.286915,2.226261h0.093469c-0.076475,0.050983 -0.144452,0.084972 -0.21243,0.135955c-4.758416,2.472677 -7.851384,6.321896 -9.933195,12.380376c-0.93469,0.280407 -2.098803,0.66278 -3.356383,1.096137c-4.495006,1.52949 -6.245417,1.843887 -10.799896,1.877877c-4.724424,0.033989 -5.846055,-0.169943 -8.667111,-1.495503c-4.104132,-1.911863 -7.927858,-5.429688 -10.477004,-9.627293c-4.25708,-7.018662 -11.615625,-11.981006 -17.750584,-11.981006c-5.242755,0 -6.236919,2.124294 -2.447187,5.225758c5.710098,4.664948 9.975682,9.423362 11.726087,13.060147c0.985673,2.039323 2.498168,5.191772 3.373376,7.001669c0.926192,1.92886 2.906033,4.545986 4.792401,6.35588c4.435524,4.231589 8.7181,6.253915 15.107968,7.205595c4.28257,0.628791 5.33622,0.628791 10.392035,-0.016994c2.438687,-0.297401 4.495006,-0.645785 6.338882,-1.079143c0,2.073308 0,4.461012 0,7.265081c0,15.006003 -0.178441,19.832392 -0.773243,21.242918c-1.121628,2.685106 -3.636788,5.446691 -6.083971,6.687268c-2.438687,1.240588 -3.194937,2.608633 -2.16678,3.866211c0.56931,0.679775 1.665445,0.798734 5.344725,0.560814c6.984674,-0.433356 11.921527,-3.016495 14.436683,-7.570976c0.807231,-1.461515 0.99417,-4.401538 1.249086,-19.696426c0.27191,-16.594963 0.390871,-18.192421 1.470012,-20.563143c0.654283,-1.410531 1.597468,-2.940025 2.124294,-3.356383c0.883706,-0.730757 0.943189,0.713763 0.943189,20.563143c-0.008497,21.905701 -0.229424,24.548326 -2.421695,28.762899c-0.492836,0.96018 -1.427525,2.209266 -2.081804,2.804066c-1.147119,1.045153 -1.631459,3.72176 -0.832723,4.528991c1.317063,1.308565 7.919364,-0.747752 11.522159,-3.585809c6.134955,-4.860377 6.86571,-8.879539 6.916695,-37.905857l0.025492,-17.028315l1.860881,0.178441l1.860881,0.169943l0.305898,22.271069c0.348384,25.075136 0.399368,25.440506 4.664948,30.283915c2.421695,2.73609 4.860377,4.248589 8.828565,5.429688c5.310731,1.597468 6.908199,-0.866712 3.339389,-5.140786c-3.883202,-4.647954 -4.070144,-6.423863 -3.857718,-33.937691c0.144452,-17.640127 0.144452,-17.640127 1.283073,-16.611963c2.396202,2.175278 2.855051,5.744087 2.855051,22.288078c0,20.546143 0.586305,22.500511 7.842882,26.086308c3.390372,1.65695 4.342054,1.860881 8.684107,1.877877c4.622464,0.016994 4.902868,-0.050983 5.072814,-1.257582c0.144452,-0.977175 -0.42486,-1.639956 -2.583142,-2.957016c-2.829561,-1.741921 -4.792401,-3.96818 -6.024497,-6.772244c-0.467344,-1.079143 -0.781741,-8.148783 -0.99417,-22.704428c-0.305898,-20.333723 -0.373877,-21.259911 -1.639956,-24.446352c-1.707932,-4.28257 -4.316564,-7.664449 -7.621962,-9.907694c-0.858215,-0.560814 -1.716429,-1.028158 -2.829561,-1.376543c1.368045,-0.135955 2.693605,-0.280407 3.976676,-0.467344c13.357546,-1.775909 20.418697,-3.254416 26.086308,-5.446691c11.989502,-4.613964 20.095804,-12.278412 24.488842,-23.146278c0.390871,-0.96868 0.781741,-1.886373 1.11313,-2.625625l3.381871,0.280407c17.427696,1.470012 31.490494,3.568813 42.307362,6.313399c5.931023,1.503999 7.061152,1.68244 5.676107,0.892202c-1.291638,-0.722362 -12.592786,-3.280117 -20.240277,-4.563167zm-51.101959,-0.263306c-1.97984,4.350549 -7.502996,9.941703 -11.964021,12.133948c-4.401538,2.175278 -11.301227,3.832225 -19.118631,4.622464c-5.344725,0.54382 -35.152782,0.705266 -40.072617,0.220927c-16.289072,-1.597468 -25.415024,-4.732924 -32.144764,-11.01233c-6.372874,-5.965013 -9.346883,-14.062817 -8.828565,-24.029987c0.33139,-6.236919 1.83539,-10.154119 5.769579,-14.912533c3.577311,-4.333558 7.341551,-7.01017 11.777072,-8.369712c3.713266,-1.138621 15.107968,-1.240588 30.428364,-0.254915c6.772244,0.433356 12.371876,0.433356 19.135626,0c16.025656,-1.011165 26.723579,-0.9007 30.674784,0.322893c6.211427,1.920361 11.870538,7.086639 15.269412,13.969353c1.52949,3.075977 1.826891,4.38454 2.047818,9.134457c0.305881,6.542867 -0.824307,13.493398 -2.974057,18.175436zm-80.808075,-28.091629c-9.117461,-1.597468 -14.326233,14.011825 -7.333063,21.982178c3.322393,3.781237 6.270909,4.401538 9.958689,2.107298c3.415864,-2.132791 5.268242,-6.117967 5.268242,-11.284236c-0.000008,-6.891162 -3.135415,-11.955554 -7.893868,-12.80524zm55.34201,0.934692c-9.117461,-1.597468 -14.334721,13.994837 -7.341551,21.973658c3.33089,3.781237 6.270909,4.410034 9.967177,2.098803c3.407364,-2.124294 5.268242,-6.117967 5.268242,-11.284236c-0.000039,-6.8658 -3.135445,-11.947038 -7.893868,-12.788224zm-24.522766,30.691788c-0.195435,0.628791 -1.147119,1.56348 -2.107298,2.064814c-2.43019,1.249086 -4.180603,0.815729 -6.746747,-1.520994c-1.588972,-1.436022 -2.311233,-2.192272 -2.795571,-0.688271c-0.450351,1.393537 2.379208,4.189102 4.562982,5.047318c2.005333,0.798734 3.441355,0.824227 5.616626,-0.084972c2.158282,-0.9007 4.044652,-3.322393 4.044652,-4.894367c-0.00006,-1.461644 -2.098753,-1.393681 -2.574645,0.076473zm-2.693634,-4.88591c1.38504,-1.223594 1.699437,-3.738758 0.373877,-5.072814s-4.019164,-1.130124 -5.072814,0.365379c-1.223594,1.750416 -0.56931,3.084472 0.305898,4.503499c1.359561,1.053592 3.186405,1.26604 4.393039,0.203937z&quot; stroke-width=&quot;5&quot; stroke=&quot;#000000&quot; fill=&quot;#0000ff&quot;/&gt;
                                &lt;text xml:space=&quot;preserve&quot; text-anchor=&quot;middle&quot; font-family=&quot;serif&quot; font-size=&quot;24&quot; id=&quot;svg_3&quot; y=&quot;345&quot; x=&quot;304&quot; stroke-linecap=&quot;null&quot; stroke-linejoin=&quot;null&quot; stroke-width=&quot;0&quot; stroke=&quot;#000000&quot; fill=&quot;#000000&quot;&gt;Git GitHub&lt;/text&gt;
                                &lt;/g&gt;
              </code>       
                </pre>
</div>


</div>
</div>
    </div>
</div>

<!-- MathML -->

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>

<script>

    $(window).load(function () {
       
        var kml_url = "https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=3&cad=rja&uact=8&ved=0CCkQFjACahUKEwjY09fR3aTIAhUEzYAKHUspA3s&url=http%3A%2F%2Fwww.tripline.net%2Fapi%2Fge_kml.php%2FHow_to_get_to_La_Fortuna_from_San_Jos%25C3%25A9..kml%3Ft_id%3D32704775762310079E819E591C1E15F9&usg=AFQjCNEWjgKpc2I9wI4iP-MvWcrhYKIjNA&sig2=g_YlMJiOdtSx3KiNH1bhrA";

      
        var center = new google.maps.LatLng(4.0204989, -118.4117325);
        var mapOptions = {
            zoom: 8,
            center: center
        }
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

       
        var laBoundaries = new google.maps.KmlLayer({
            url: kml_url,
            map: map
        });
    });


</script>


<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUkqi7hcQDA8Tm8LSoDoxuVab3mz7kZoM">
</script>-->
