﻿@{
    ViewBag.Title = "daniel carroll";
}
<div class="container">

    <div class="starter-template">
        <h1>hello world
            <br/>
        assignment 1
        </h1>

    </div>

</div><!-- /.container -->