﻿<div class="container">
    <div class="body">
        <div class="row">
            <div class="page-header text-center">
                <h2>the ol' drag and drop</h2>
            </div>
            <div class="jumbotron">
                <p>
                    This is a very simple drag and drop example. Hitting the button will deal cards the page and you can drag them to the designated area. Once the card has been dropped in the area it will be allowed to be moved out of that area.
                    There are also 65 cards in the deck so feel free to deal till you finger gets tired!!
                    
                </p>
            </div>
            <div class="row text-center">
                <button class="btn btn-info" id="deal">deal a card!</button>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="row col-lg-5">
                    <div id="drop" class="panel panel-default text-center" style="width: 350px; height: 150px">
                        <br/>
                        <p>
                            drag all your cards into here!
                        </p>
                    </div>
                </div>
                <div class="row col-lg-7">
                    <div id="dealPlacement">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(init);

    var place = document.getElementById('dealPlacement');

    $('#deal').click(function () {
        dealCard(randomCard());

    });

    function init() {
        $('#drop').droppable({
            drop: handleDropEvent
        });
    }

    var numberOfCardsInDeck = 65;
    var cardsInDeck = new Array();

    for (var i = 0; i < numberOfCardsInDeck; ++i) {
        cardsInDeck[i] = i;
    }




    function dealCard(i) {
        if (numberOfCardsInDeck == 0) return false;


        var img = document.createElement("img");
        img.src = "/pictures/PNG-cards-1.3/" + cardsInDeck[i] + ".png";

        img.style.height = '100px';
        img.style.width = '60px';

        place.appendChild(img);

        $(img).draggable();

        removeCard(i);
    }

    function randomCard() {
        return Math.floor(Math.random() * numberOfCardsInDeck);
    }

    function removeCard(c) {
        // simply make every higher numbered card move down 1
        for (j = c; j <= numberOfCardsInDeck - 2; j++) {
            cardsInDeck[j] = cardsInDeck[j + 1];
        }
        numberOfCardsInDeck--;
    }


    function handleDropEvent(event, ui) {
        var draggable = ui.draggable('disable');
        place.innerHTML = "";

    }
</script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
