﻿

<div class="container">
    <div class="row">
        <br/>
        <div class="jumbotron text-center">
            <h1>cop4813 - web development</h1>
            <p>this class focuses on web development using HTML, CSS, and JavaScript </p>

        </div>

        <div class="row text-center">
            <img src="/pictures/HTML5_CSS_JavaScript.png"/>
        </div>
    </div>
</div>
